<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Вы с нами, потому что:</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>Вы забудите о качестве воды и чистоте вашего бассейна;</li>
                    <li>Продлить срок службы вашего оборудования;</li>
                    <li>Уменьшить расходы на химию бассейнов;</li>
                    <li>Мы предоставляем качественную консультацию по ремонту оборудования, - при желании, вы всегда будете в курсе, какие работы и для каких целей производятся нашими специалистами.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-10">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Примерные цены:</h3>
            </div>
            <div class="panel-body">
                <ul>
                    <li>До 30 м3 - </li>
                    <li>До 30 - 60 м3 - </li>
                    <li>До 60 - 100 м3 - </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="col-lg-2">
        <a href="~/pages/query.cshtml" class="btn btn-default">
            Точная стоимость заявки
        </a>
    </div>
</div>
    

