<div class="row">
    <div class="col-lg-12">
        @{
            if (User.Identity.IsAuthenticated)
            {
                FormsAuthentication.SignOut();
                <div class="panel panel-info">
                    <div class="panel-body">
                        Вышли.
                    </div>
                </div>
            }
            else
            {
                <div class="panel panel-info">
                    <div class="panel-body">
                        Ошибка.
                    </div>
                </div>
            }
        }
    </div>
</div>

