<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <p>Что такое сервисное обслуживание – это ряд обязательных мероприятий, позволяющих продлить срок эксплуатации системы и поддержать технику бассейна в исправном состоянии, воду бассейна - чистой и вызывающей желание купаться. Сервис- это не ремонтные работы…</p>
                <p>Периодичность сервисных мероприятий различна: одни необходимо выполнять ежедневно, другие - каждую неделю, третьи – ежемесячно или раз в год. Но независимо от того, какой бассейн – частный или общественный - он все равно потребует обслуживания.</p>
                <p>Абонентское  сервисное обслуживание включает посещение специалиста по обслуживанию 1 раз в неделю.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                Работы, выполняемые специалистом:
            </div>
            <div class="panel-body">
                <ul>
                    <li>анализ воды</li>
                    <li>ручное дозирование необходимых химических реагентов</li>
                    <li>бесплатную доставку химических реагентов</li>
                    <li>регенерацию фильтра с помощью обратной промывки</li>
                    <li>обработку дна и стен бассейна водным пылесосом</li>
                    <li>удаление загрязнений по ватерлинии бассейна</li>
                    <li>осмотр фильтров грубой очистки</li>
                    <li>контроль количества песка в фильтрах</li>
                    <li>очистку обратного клапана</li>
                    <li>настройку работы таймера контроля системы водоподготовки</li>
                    <li>проверку состояния электрооборудования</li>
                    <li>контроль системы нагрева воды в бассейне</li>
                    <li>проверку, по необходимости регулировку датчиков контроля температуры, протока, кнопок пневмозапуска аттракционов</li>
                    <li>проверку состояния оборудования контроля уровня воды в переливной ёмкости</li>
                    <li>рекомендации обслуживающему персоналу по текущей эксплуатации бассейна и состоянию воды</li>
                </ul>
            </div>
        </div> 

        <div class="panel panel-info">
            <div class="panel-body">
                <p>В сервисные работы так же  входит поставка химических реагентов и расходных материалов, что позволяет своевременно пополнять запас химических реагентов на объекте.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                Владельцу бассейна необходимо:
            </div>
            <div class="panel-body">
                <h5>ЕЖЕНЕДЕЛЬНО</h5>
                <ul>
                    <li>проверять уровень содержания реагентов (хлор, кислород) в воде, состояние рН воды , уровень ее прозрачности</li>
                    <li>проверять показания манометра фильтра и при необходимости производить промывку фильтра</li>
                    <li>проверять показания датчика температуры воды на ЭВН</li>
                    <li>проверять уровень бассейна (скиммерный) и работу системы автодолива</li>
                    <li>чистить дно и стены бассейна подводным пылесосом</li>
                    <li>добавлять необходимое количество реагентов (хлора, кислород, альгицид, коагулянт, регуляторы уровня рН)</li>
                    <li>сравнивать показания взятых проб с показаниями дисплея станции дозации реагентов, проверять проток воды через кюветы с датчиками контроля</li>
                </ul>
                <h5>ЕЖЕМЕСЯЧНО</h5>
                <ul>
                    <li>промывать и очищать префильтры насосов циркуляции и аттракционов</li>
                    <li>промывать и очищать электроды станций дозации, калибровать станцию</li>
                    <li>проводить профилактику электромагнитных клапанов, блоков управления и т.д.</li>
                </ul>
                <h5>ЕЖЕГОДНО</h5>
                <ul>
                    <li>проверять количество кварцевого песка в фильтре и при необходимости добавить уровень песка или заменить его</li>
                    <li>заменять электроды анализа станций дозации и калибровать станции с новыми электродами</li>
                    <li>проводить слив чаши и проводить полную санитарную обработку чаши</li>
                </ul>
            </div>
        </div>
    </div>
</div>
