<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <p>Если у Вас начались проблемы с бассейном: постоянно «уходит» вода, устали от ремонта гидроизоляции и плёнки, отваливается плитка, сломалось или устарело оборудование и тд — мы решим все Ваши проблемы!</p>
                <p>Наша техническая подготовка и опыт, позволяют работать с любым по сложности оборудованием, материалом отделки и условиям эксплуатации и решать самые сложные задачи.</p>
                <p>Компания  «Санаква» осуществляет ремонт / реконструкцию / модернизацию бассейнов любой сложности качественно и в максимально короткие сроки.</p>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">
                Перечень услуг для Вашего бассейна:
            </div>
            <div class="panel-body">
                <ul>
                    <li>Реконструкция бассейна</li>
                    <li>Реставрация бассейна</li>
                    <li>Ремонт чаши бассейна</li>
                    <li>Гидроизоляция чаши бассейна</li>
                    <li>Замена / ремонт облицовки ( мозаика, плитка , пленка)</li>
                    <li>Замена / ремонт оборудования для бассейнов</li>
                    <li>Автоматизация</li>
                    <li>Ремонт фильтров для бассейнов</li>
                    <li>Замена  песка в фильтре</li>
                    <li>Ремонт насосов для бассейнов</li>
                    <li>Устранение протечек и многое другое</li>
                </ul>
            </div>
        </div>
    </div>
</div>
