<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Работы</th>
                            <th>Стоимость</th>
                            <th>Примечание</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Плановый выезд специалиста на "средний бассейн" (руб/выезд)</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Чистка  дна бассейна водным пылесосом (Руб/м2)</td>
                            <td>15</td>
                            <td>Входит в стоимость планового выезда</td>
                        </tr>
                        <tr>
                            <td>Чистка стен и дна опорожненного бассейна с использованием специальных чистящих средств (Руб/м2)</td>
                            <td>200</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Обслуживание системы фильтрации (промывка фильтровальной установки, очистка фильтров скиммера и насосов)</td>
                            <td>700</td>
                            <td>Входит в стоимость планового выезда</td>
                        </tr>
                        <tr>
                            <td>Комплексный анализ воды в бассейне (по 3-м параметрам)(pH,свободный хлор, связанный хлор)</td>
                            <td>1000</td>
                            <td>Входит в стоимость планового выезда</td>
                        </tr>
                        <tr>
                            <td>Доставка необходимых хим. реагентов (1 шт.)</td>
                            <td>20</td>
                            <td>Входит в стоимость планового выезда</td>
                        </tr>
                        <tr>
                            <td>Монтаж/демонтаж фильтровальной установки (1 шт.)</td>
                            <td>2500</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Монтаж/демонтаж циркуляционного насоса (1 шт.)</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Монтаж/демонтаж ТЭНа (1 шт.)</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Замена кварцевого песка в фильтровальной установке (1 кг.)</td>
                            <td>70</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Замена, установка блока автоматики</td>
                            <td>3000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Замена ламп подводного освещение (при наличии доступа с борта бассейна)</td>
                            <td>1000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Замена установка металлической лестницы</td>
                            <td>2000</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Замена установка навесного оборудования</td>
                            <td>определяется по месту</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Чистка ватерлинии спец составом цена за 1 м/п</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Слив воды из бассейна фильтровальным насосом (€/м3)</td>
                            <td>1</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Слив воды из бассейна погружным насосом</td>
                            <td>-</td>
                            <td>производится заказчиком</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
