<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-body">
                <h5>Для владельцев уличных бассейнов мы предлагаем услуги по подготовке к зимнему и летнему сезону.</h5>
                <p>Для того чтобы избежать образования льда в трубах и других замкнутых полостях в зимний период, производится консервация бассейнов. Необходимо удалить воду с помощью компрессора с высоким давлением. Когда вода удалена, специалист убирает в теплое помещение всё оборудование и приспособления, не предназначенные для хранения при минусовых температурах и после этого подготавливает чашу (с заниженным уровнем воды), погружая в нее компенсационные емкости, которые не дают льду воздействовать на стенки бассейна при замерзании. Далее, закрываются все отверстия и ставятся необходимые заглушки. Бассейн укрывается специальным покрытием или полиэтиленовой плёнкой для того, чтобы избежать повышения уровня воды во время всего зимнего сезона.</p>
                <p>Консервация бассейнов на зиму - это ответственное мероприятие, от того, насколько качественно оно проведено, зависит целостность и работоспособность вашего оборудования. У нас есть большой опыт проведения таких работ, и мы с удовольствием займемся ими для вас.</p>
                <p>После зимнего периода в момент значительного стабильного потепления необходима расконсервация бассейнов: удаляются все заглушки, устанавливается и настраивается оборудование и агрегаты, повышается уровень воды с последующим заполнением трубопровода, и производятся работы по пусконаладке, в том числе по выведению химико-бактериологических параметров, настройке и калибровке станций дозации, нагрева и другого оборудования.</p>
                <p>Расконсервация бассейнов после зимы позволяет начать вам новый купальный сезон и ощутить все прелести лета. От того как она проведена зависит, насколько быстро и комфортно вы сможете насладиться теплой, чистой водой.</p>
                <p>Все работы проводятся заблаговременно с учетом наличия плюсовой температуры, если же по каким- либо причинам вода замерзла, то возможна срочная разморозка насосов, трубопроводов , теплообменников, электронагревателей, фильтров и других важных компонентов системы водоподготовки.</p>
            </div>
        </div>
    </div>
</div>
