<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-body">
                Спасибо! Ваш запрос отправлен. Мы обязательно свяжемся с Вами по указанным Вами контактам.
            </div>
        </div>
    </div>
</div>
